body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
  }
  
  a {
    color: #47b2e4;
    text-decoration: none;
  }
  
  a:hover {
    color: #73c5eb;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Jost", sans-serif;
  }
  
  
  /*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
  section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-bg {
    background-color: transparent;
    background-image: url('D:\React\registration\src\Components\ab1.jpg');
    height: 540px;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #ffffff;
  }
  /*.section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }*/
  .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 150px;
    height: 2px;
    background: #ef00ff;
    bottom: 8px;
    left: calc(45% - 17px);
  }
  .section-title p {
    margin-bottom: 0;
    color: white;
  }
  
  
  /*--------------------------------------------------------------
  # Services
  --------------------------------------------------------------*/
  .services .icon-box {
    box-shadow: 0px 0 25px 0 rgb(0 0 0 / 10%);
    padding: 50px 30px;
    transition: all ease-in-out 0.4s;
    background: transparent;
    border: 1px solid #ef00ff;
    border-radius: 49px;
    /* transition: color .15s ease,border-color .15s ease; */
    color: inherit;
  }
  .services .icon-box .icon {
    margin-bottom: 10px;
  }
  .services .icon-box .icon i {
    color: #47b2e4;
    font-size: 36px;
    transition: 0.3s;
  }
  .services .icon-box h4 {
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 24px;
  }
  .services .icon-box h4 a {
    color: #ffffff;
    transition: ease-in-out 0.3s;
  }
  .services .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
    color: white;
  }
  .services .icon-box:hover {
    transform: translateY(-10px);
  }
  .services .icon-box:hover h4 a {
    color: #47b2e4;
  }